{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <!-- home dashboard Sidebar -->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <ul class="breadcrumb breadcrumb-item ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Expenses List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="index">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Expences List</li>

                    </ul>
                </div>
                <!-- #END# home dashboard sidebar -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="/expences_update/{{ temp.id }}" method="POST">
                    {% csrf_token %}

                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="name">date</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="expense_date" value="{{ temp.expense_date|date:'Y-m-d H:i' }}"
                                        class="form-control date" placeholder="Ex: YYYY-MM-DD HH:MM">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Branch</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="branch" value="{{ temp.branch }}" id="email_address1"
                                        class="form-control" placeholder="Enter Branch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="branch">Expense category</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="expense_category" value="{{ temp.expense_category }}"
                                        id="branch" class="form-control" placeholder="Enter Expense category">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="cash_register">Amount</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="amount" value="{{ temp.amount }}" id="cash_register"
                                        class="form-control" placeholder="Enter Amount">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="button-demo">
                            <a href="../expences.html">
                                <button type="button" class="btn btn-outline-danger btn-border-radius"
                                    data-dismiss="modal">Cancel</button>
                            </a>
                            <button type="submit" class="btn btn-outline-success btn-border-radius">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}