<html>

<head>
    <meta charset="utf-8">
    <title>pdf</title>
</head>

<body>
    <style>
        @page {
            size: letter landscape;
            margin: 2cm;
            
            @frame content_frame {
                left: 50pt;
                width: 692pt;
                top: 50pt;
                height: 512pt;
                padding: 10pt;
                -pdf-frame-border: 1;    /* for debugging the layout */
            }
        }
    </style>
    <h1 style="text-align: center;" >Sales Report</h1>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <table style="padding:1pt;" class="table   table-hover js-basic-example dataTable">
        <thead>
            <tr>
                                        
                <th>INVOICE ID</th>
                <th>CUSTOMER NAME</th>
                <th>PRODUCT NAME</th>
                <th>DATE</th>
                <th>SOLD TO</th>
                <th>ITEMS SOLDS</th>
                <th>TOTAL</th>
                <th>TAX PERCENTAGE</th>
                <th>TAX AMOUNT</th>
                <th>GRAND TOTAL</th>
                <th>PAYMENT STATUS</th>
               
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td>{{sale.invoice_id}}</td>
                <td>{{sale.customer_name}}</td>
                <td>{{sale.name}}</td>
                <td>{{sale.date}}</td>
                <td>{{sale.sold_to}}</td>
                <td>{{sale.items_sold}}</td>
                <td>{{sale.total}}</td>
                <td>{{sale.tax}}</td>
                <td>{{sale.tax_amount}}</td>
                <td>{{sale.grand_total}}</td>
                <td>{{sale.payment_status}}</td>
            </tr>
        </tbody>
    </table>
    
</body>

</html>