{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <!-- home dashboard Sidebar -->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <ul class="breadcrumb breadcrumb-item ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Products List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="index">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Products List</li>

                    </ul>
                </div>
                <!-- #END# home dashboard sidebar -->
                <!-- add products button -->
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                    <ul class="breadcrumb breadcrumb-item ">
                        <li>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-example-modal-lg">
                                Add Products</button>
                        </li>
                    </ul>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myLargeModalLabel">Add New Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="products.html" method="POST">
                                        {% csrf_token %}

                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label for="assign_role">Product Name</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="name" id="assign_role"
                                                            class="form-control" placeholder="Product Name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label for="name">Category</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="category" id="name"
                                                            class="form-control" placeholder="Enter Category">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label for="email_address">Brand</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="brand" id="email_address1"
                                                            class="form-control" placeholder="Enter your Brand">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label for="branch">Quantity</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" name="quantity" id="branch"
                                                            class="form-control" placeholder="Enter Quantity">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="button-demo">
                                                <button type="button" class="btn btn-outline-danger btn-border-radius"
                                                    data-dismiss="modal">Cancel</button>
                                                <button type="submit"
                                                    class="btn btn-outline-success btn-border-radius">Create</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- #END# add products button -->
            </div>
        </div>
        <!--  TABLE -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Products List</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <!-- Table-->
                            <table class="table   table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NAME</th>
                                        <th>BRAND</th>
                                        <th>CATEGORY</th>
                                        <th>QUANTITY</th>
                                        <th>ACTION</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for productslist in productslistarray%}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{productslist.name}}</td>
                                        <td>{{productslist.brand}}</td>
                                        <td>{{productslist.category}}</td>
                                        <td><span class="badge bg-purple">{{productslist.quantity}}</span></td>
                                        <td>
                                            <div class="button-demo">
                                                <a href="/products_edit/{{ productslist.id }}">
                                                    <button type="button" class="btn btn-outline-info btn-border-radius"
                                                        >Edit</button>
                                                </a>
                                                <a href="/delete_products/{{ productslist.id }}">
                                                    <button type="button"
                                                        class="btn btn-outline-danger btn-border-radius">
                                                        Delete
                                                    </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}


                                </tbody>
                                <tfoot>
                                    <tr>

                                    </tr>
                                </tfoot>
                            </table>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# TABLE -->
    </div>
</section>



{% endblock %}