{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <!-- home dashboard Sidebar -->
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <ul class="breadcrumb breadcrumb-item ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Sales List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="index">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" onclick="return false;">Sales</a>
                        </li>
                        <li class="breadcrumb-item active">Sales List</li>

                    </ul>
                </div>
                <!-- #END# home dashboard sidebar -->
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="/sales_list_update/{{ temp.id }}" method="POST">
                    {% csrf_token %}
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="name">Product Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="name" value="{{ temp.name }}" id="name"
                                        class="form-control" placeholder="Enter Product Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Customer Name</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="customer_name" value="{{ temp.customer_name }}"
                                        id="email_address1" class="form-control" placeholder="Enter Customer Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="name">Sold to</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="sold_to" value="{{ temp.sold_to }}" id="name"
                                        class="form-control" placeholder="Walk in Customer or Vendor">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Items Sold</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="items_sold" value="{{ temp.items_sold }}"
                                        id="email_address1" class="form-control" placeholder="No of Items">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="name">date</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="date" value="{{ temp.date|date:'Y-m-d H:i' }}" class="form-control date"
                                        placeholder="Ex: YYYY-MM-DD HH:MM">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Invoice Id</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="invoice_id" value="{{ temp.invoice_id }}"
                                        id="email_address1" class="form-control" placeholder="Enter Invoice Id">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Total</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="total" value="{{ temp.total }}" id="email_address1"
                                        class="form-control" placeholder="Enter Total">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Tax</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="tax" value="{{ temp.tax }}" id="email_address1"
                                        class="form-control" placeholder="Enter tax percentage">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="email_address">Payment Status</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="payment_status" value="{{ temp.payment_status }}"
                                        id="email_address1" class="form-control" placeholder="Success or Pending">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="button-demo">
                            <a href="../sales_list.html">
                                <button type="button" class="btn btn-outline-danger btn-border-radius"
                                    data-dismiss="modal">Cancel</button>
                            </a>
                            <button type="submit" class="btn btn-outline-success btn-border-radius">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}