{% extends 'base.html' %}
{% load static %}


{% block content %}


    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <!-- home dashboard Sidebar -->
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <ul class="breadcrumb breadcrumb-item ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Plan</h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="index">
                                    <i class="fas fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active">Plan</li>

                        </ul>
                    </div>
                    <!-- #END# home dashboard sidebar -->
                    <!-- add user button -->
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                        <ul class="breadcrumb breadcrumb-item ">
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target=".bd-example-modal-lg">
                                    Add Plan</button>
                            </li>
                        </ul>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myLargeModalLabel">Add Plan</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="plans" method="POST" >
                                            {% csrf_token %}
                                            <div class="row clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="name">Plan Name</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="name" id="name" class="form-control"
                                                                placeholder="Enter Plan Name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="email_address">Price</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="price" id="email_address1" class="form-control"
                                                                placeholder="Enter plan price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="branch">colour</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="colour" id="branch" class="form-control"
                                                                placeholder="Enter Colour">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="cash_register">Maximum Users</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="users" id="cash_register" class="form-control"
                                                                placeholder="-1 for unlimited">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="branch">Maximum Customers</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="customers" id="branch" class="form-control"
                                                                placeholder="-1 for Unlimited">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <label for="cash_register">Maximum Vendors</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" name="vendors" id="cash_register" class="form-control"
                                                                placeholder="-1 for unlimited">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="button-demo">
                                                    <button type="button"
                                                        class="btn btn-outline-danger btn-border-radius"
                                                        data-dismiss="modal">Cancel</button>
                                                    <button type="submit" value="Submit"
                                                        class="btn btn-outline-success btn-border-radius">Create</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- #END# add user button -->
                </div>
                <!--  prices -->
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Pricing</strong> Page
                                </h2>
                            </div>
                            <div class="body">
                                <div class="demo">
                                    <div class="container">
                                        <div class="row">
                                            {% for planlist in planlistarray %}
                                            <div class="col-md-3 col-sm-6">
                                                <div class="pricingTable {{planlist.colour}}Color ">
                                                    <div class="pricingTable-header">
                                                        <i class="material-icons">brightness_medium</i>
                                                        <div class="price-value"> Rs. {{planlist.price}}
                                                            <span class="month">per month</span>
                                                        </div>
                                                    </div>
                                                    <h3 class="heading">{{planlist.name}}</h3>
                                                    <div class="pricing-content">
                                                        <ul>
                                                            <li>
                                                                {% if planlist.users == -1 %}
                                                                <b>Unlimited</b> Users
                                                                {% else %}
                                                                <b>{{planlist.users}}</b> Users 
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                {% if planlist.customers == -1 %}
                                                                <b>Unlimited</b> Users
                                                                {% else %}
                                                                <b>{{planlist.customers}}</b> Customers
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                {% if planlist.vendors == -1 %}
                                                                <b>Unlimited</b> Users
                                                                {% else %}
                                                                <b>{{planlist.vendors}}</b> Vendors
                                                                {% endif %}
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="pricingTable-signup">
                                                        <a href="plans_delete/{{planlist.id}}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# prices -->


            </div>
    </section>
    {% endblock %}